/* 전체 스크롤바 숨기기 */
.about-me-sections {
    scroll-snap-type: y mandatory; /* 스크롤 스냅 기능 */
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;  /* IE와 Edge에서 스크롤바 숨기기 */
    scrollbar-width: none;  /* Firefox에서 스크롤바 숨기기 */
  }
  
  .about-me-sections::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
  }
  
  /* 각 섹션 기본 스타일 */
  .about-me-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    scroll-snap-align: start; /* 각 섹션의 시작점에 스냅 */
  }
  
  /* 첫번째 섹션 */
  .first-section {
    background-color: #d3d3d3;
  }
  
  /* 두번째 섹션 */
  .second-section {
    background-color: #f5f5f5;
    color: #333;
  }
  
  .section-content {
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .section-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .section-content p {
    font-size: 1.25rem;
  }
  
  /* 세번째 섹션 */
  .third-section {
    background-color: #e0e0e0;
  }
  
  /* 네번째 섹션 (Footer) */
  .fourth-section {
    background-color: #333;
    color: #fff;
    height: 50vh; /* 다른 섹션보다 작게 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-bottom: 1rem;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #d3d3d3; /* 호버 시 색상 변화 */
  }
  
  .footer-content p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  /* About Me 섹션 기본 스타일 */
  .about-me-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    height: 100%;
  }
  
  .about-me-text {
    flex: 1;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-me-text blockquote {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 1rem;
  }
  
  .about-me-text p {
    font-size: 1.5rem;
    color: #555;
  }
  
  .about-me-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .about-me-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  