.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111111;
  color: #fff;   
  height: 15vh;       
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;  
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.footer-link:hover {
  color: #ddd;
}

.arrow {
  font-size: 24px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 20px;  
}

.footer-text {
  text-align: left;
}

.footer-social {
  text-align: right;
}

.footer-social a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.footer-social a:hover {
  color: #ddd;
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #3d3d3d;
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  color: #fff;
  font-size: 14px;
}
