.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.gitLink a,
.contact-info a {
  text-decoration: none; /* 특정 영역에 있는 a 태그에 밑줄 제거 */
  color: inherit; /* 필요하다면 색상도 상속하도록 설정 */
}

/* 만약 링크에 hover 스타일도 필요하다면 */
a:hover {
  text-decoration: none;
}

.contact-info {
  display: flex;
  gap: 10px;
}

.auth-links {
  display: flex;
  gap: 10px;  
}

.auth-links a {
  color: white;  
}
