/* 전체 컨테이너 설정 */
.home-container {
  display: flex;
  height: 100vh;  /* 전체 화면 높이 */
}

/* 왼쪽 섹션 */
.left-section {
  flex: 1;  /* 왼쪽 섹션의 너비 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;  /* 배경색은 밝은 회색 */
  padding: 20px;
}

/* 프로필 이미지 스타일 */
.profile-image {
  width: 80%;  /* 이미지 너비 */
  height: auto;  /* 높이는 자동으로 조정 */
  margin-bottom: 20px;
}

/* 텍스트 스타일 */
.intro-text {
  text-align: left;
}

.intro-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.intro-text h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.intro-text p {
  font-size: 1.5rem;
  color: #333;
}

/* 오른쪽 섹션 */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.about-me-section {
  background-color: #e0e0e0;  /* 배경색은 약간 더 어두운 회색 */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-section {
  background-color: #333;  /* 배경색은 어두운 회색/검정 */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  /* 텍스트는 흰색 */
}

/* 제목 스타일 */
.about-me-section h2, .project-section h2 {
  font-size: 3rem;
  font-weight: bold;
}
