.home-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease;
}

/* 좌측 섹션 (이미지 및 텍스트) */
.left-section {
  flex: 1;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  transition: 0.5s ease;
  filter: blur(3px);  
}

.profile-image:hover {  
  transition: 0.5s ease;
  filter: blur(0px);    
}

/* 텍스트 오버레이 수정 */
.text-overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  color: black;
  text-align: left;
  z-index: 10; /* 이미지 위로 올라오도록 z-index 추가 */
}

.text-overlay h1 {
  font-size: 4rem;
  margin: 0;
}

.text-overlay h2 {
  font-size: 3rem;
  margin: 0.15rem 0;
}

.text-overlay p {
  font-size: 1.5rem;
  margin: 35rem 0 0 0rem;
  position: absolute;  
}

/* 우측 섹션 (about me 및 프로젝트 정보) */
.right-section {
  flex: 2.65; 
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

/* 호버 효과 수정 */
.home-about-me-section,
.home-projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex-grow 0.5s ease;
  cursor: pointer;
}

.home-about-me-section {
  background-color: #d3d3d3;
  flex: 1;
}

.home-projects-section {
  background-color: #333;
  color: #fff;
  flex: 1;
}

.home-about-me-section:hover {
  flex-grow: 1.5; /* 호버 시 확장 */
}

.home-projects-section:hover {
  flex-grow: 1.5; /* 호버 시 확장 */
}
