/* 스킬 및 경험 컨테이너 */
.skills-experience-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  min-width: 75%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  text-align: left;
}

/* 경험  */
.experience {
  flex: 0.7;
}

.skills {
  flex: 0.9;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.experience p {
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.experience-item {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.year {
  font-weight: bold;
  color: #ff6a00;
  margin-right: 0.5rem;
}

.company {
  color: #777;
}

.position {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: -10px;
}

.description {
  color: #555;
  line-height: 1.4;
  margin-left: 0.5rem;
}

/* 스킬 */
.skill-item {
  margin-bottom: 20px;
  position: relative; /* 텍스트 위치를 위한 상대 위치 */
}

.skill-name {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

/* 프로그래스 바 전체 */
.progress {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* 프로그래스 바의 실제 진행 부분 */
.progress-bar {
  background: linear-gradient(135deg, #FE716D, #f77e7a, #fcad67, #FE943A);
  height: 100%;
  border-radius: 5px;
  width: 0%; /* 초기값 */
  position: absolute;
  top: 0;
  left: 0;
  transition: width 3s ease-in-out;
  z-index: 1;
}

/* 퍼센트 텍스트 스타일 */
.nav-progress-text {
  font-size: 1rem;
  color: #333; /* 텍스트 색상 */
  opacity: 0; /* 기본적으로 보이지 않음 */
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(1px);
  position: absolute;
  top: 50%;
  left: 50%;  
  z-index: 3;
}

.progress:hover .nav-progress-text {
  opacity: 1; /* 보이게 */
  transform: translateY(-10px); /* 텍스트 위치 조정 */
}

@media (max-width: 768px) {
  .skills-experience-container {
    flex-direction: column;
  }
}
